In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/graph.csv')
df

       source target relation
0           1  BC133     uses
1           2  BC133     uses
2           3  BC133     uses
3           4  BC133     uses
4           1  BC473     uses
...       ...    ...      ...
132969  T040S  BC618  enables
132970  T040T  BC618  enables
132971  T042Z  BC618  enables
132972   T043  BC313  enables
132973  T043I  BC622  enables

[132974 rows x 3 columns]

In [9]:
items = df[(df['relation'] == 'uses') & (df['source']=='4')]['target'].unique()
items

array(['BC133', 'BC473', 'BC693', 'BC314', 'BC413', 'BC486', 'BC324',
       'BC673', 'BC264', 'BC239', 'BC686', 'BC083', 'BC248', 'BC244',
       'BC628', 'BC420', 'BC225', 'BC454', 'BC681', 'BC721', 'BC452',
       'BC183', 'BC308', 'BC012', 'BC160', 'BC607', 'BC178', 'BC303',
       'BC157', 'BC174', 'BC727', 'BC288', 'BC306', 'BC304', 'BC320',
       'BC322', 'BC079', 'BC606', 'BC624', 'BC312', 'BC073', 'BC282',
       'BC279', 'BC067', 'BC537', 'BC525', 'BC093', 'BC077', 'BC195',
       'BC245', 'BC685', 'BC477', 'BC166', 'BC126', 'BC095', 'BC074',
       'BC235', 'BC722', 'BC549', 'BC660', 'BC065', 'BC382', 'BC548',
       'BC223', 'BC326', 'BC605', 'BC656', 'BC163', 'BC056', 'BC103',
       'BC112', 'BC502', 'BC251', 'BC618', 'BC517', 'BC297', 'BC273',
       'BC697', 'BC276', 'BC446', 'BC313', 'BC622'], dtype=object)

In [13]:
'BC019' in items

False